---
layout: default
title: 'Brazilian design systems list'
---

<div class="bg-gray-300">
  <div
    class="p-10 grid grid-cols-1 gap-10 md:grid-cols-3 xl:grid-cols-4 max-w-screen-2xl mx-auto"
  >
    {% for ds in site.data.designsystems %}
    <div class="py-4 px-8 bg-white shadow-lg rounded-lg mt-20">
      <div class="flex justify-center md:justify-end -mt-16">
        <div class="w-20 h-20 rounded-full border-4 border-indigo-500 bg-white">
          {% if ds.logo %}
          <img
            class="w-full h-full rounded-full"
            src="data:image/vnd.microsoft.icon;base64,{{ ds.logo }}"
          />
          {% endif %}
        </div>
      </div>
      <div>
        <h2 class="text-gray-800 text-3xl font-semibold">{{ ds.name }}</h2>
        <p class="mt-2 text-gray-600">{{ ds.company }}</p>
      </div>
      <div class="flex mt-4 truncate">
        <a
          href="{{ ds.url }}"
          class="text-xl font-medium text-indigo-500 hover:underline"
          target="_blank"
          >Ver site</a
        >
      </div>
    </div>

    {% endfor %}
  </div>
</div>
